# #开头的行视作注释
#! 开头的模式会覆盖之前的定义，将匹配的对象重新加入跟踪列表
#以/结尾的模式，git会屏蔽掉该目录及其所有子目录及文件（只屏蔽目录）
#不以/结尾的模式，git屏蔽同名的文件名及目录（屏蔽目录和同名文件）
#以/开头的模式，git只会屏蔽项目根目录下的匹配对象

Root/build/
Sensor/build/
test/build/
Sensor/lib/build/
.*.swp
Mirror/build/

